<!DOCTYPE html>
<html lang="en">
<title>Data Analytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/navbar.css') }}">     -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/form.css') }}"> -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large" role="tablist">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="/ind" class="w3-bar-item w3-button w3-theme-l1">Data Analysis</a>
    <!-- <nav class="navbar w3-top">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/ind">Data Analytics</a></li>
          
      </ul>
  </nav> -->
  </div>
</div>
   
   
<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#pie">Pie Chart</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#line">Line Plot</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#box">Box Plot</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#scatter">Scatter Plot</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div id="w3-main" class="w3-main" style="margin-left:250px" role="tabpanel">



  <div class="w3-row w3-padding-64" id="pie">

    <div class="w3-third w3-container">
           <h1 class="w3-text-teal">Pie chart</h1>
  
  <div id="chartContainer" ></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	exportEnabled: true,
	animationEnabled: true,
    backgroundColor: "#fafafa",
	title:{
        fontFamily: "Roboto",
		text: "Passengers"
	},
	legend:{
		cursor: "pointer",
		itemclick: explodePie
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "{name}: <strong>{y}%</strong>",
		indexLabel: "{name} - {y}%",
		dataPoints: [
	{ y: 7.187275, color: "red", name: "January",  },
			{ y: 6.986597, color: "blue", name: "Febrauary" },
			{ y: 8.032109, color: "#303f9f", name: "March" },
			{ y: 7.940441, color: "green", name: "april" },
                        { y: 8.081659, color: "pink", name: "may" },
                        { y: 9.265912, color: "black", name: "june" },
                        { y: 10.44521, color: "magenta", name: "july" ,exploded: true},
                        { y: 10.437777, color: "purple", name: "augest" },
                        { y: 8.990908, color: "violet", name: "september" },
                        { y: 7.925575, color: "yellow", name: "october" },
                        { y: 6.922181, color: "orange", name: "november" },
                        { y: 7.784357, color: "#90caf9", name: "December" }
		]
	}]
});
chart.render();
};

function explodePie (e) {
	if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	}
	e.chart.render();

}
</script></div>
   
  </div>
    <br><br>    <br><br>
      <div class="w3-row w3-padding-64">

    <div class="w3-third w3-container">
           
  
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>
      <div class="w3-row w3-padding-64">

    <div class="w3-third w3-container" id="line">
           <h1 class="w3-text-teal">Line plot</h1>
  
           <image src="../static/img/line_plot.png" />
    </div>
  </div>

 
      <div class="w3-row w3-padding-64" id="box">

    <div class="w3-third w3-container">
           <h1 class="w3-text-teal">Box plot</h1>
  
           <image src="../static/img/box_plot.png" />
    </div>
  </div>
      <div class="w3-row w3-padding-64" id="scatter">

    <div class="w3-third w3-container">
           <h1 class="w3-text-teal">Scatter plot</h1>
  
           <image src="../static/img/scatter_plot.png" />
    </div>
  </div>




<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>