
.navbar{
    margin:12px 60px;
    display: inline-block;
    width: 80%;
    }

ul{
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-left: 20%;
}

a{
    text-decoration: none;
    color:darkblue;
    font-size: 25px;
    /* margin:12px 14px; */
}
a:hover{
    text-decoration:underline;
    color: red;
    font-size: 28px;
    cursor: pointer;
    transition-duration: 0.5s;
   
}


section{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:burlywood;
  font-size: 30px;
  padding-top: 30px;
}

.mastery{
    font-weight: bolder;
}